<html>
<head>
<link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">
</head>
<body>
<div class="entities">
Thousands of demonstrators have marched through<mark data-entity="loc">London</mark>
to protest the war in<mark data-entity="loc">Iraq</mark>
and demand the withdrawal of British troops from that country . Families of soldiers killed in the conflict joined the protesters who carried banners with such slogans as `` Bush Number One Terrorist `` and `` Stop the Bombings . `` They marched from theHouses of Parliamentto a rally in<mark data-entity="loc">Hyde Park</mark>
. Police put the number of marchers at 10000 while organizers claimed it was 1,00,000 . The protest comes on the eve of the annual conference of<mark data-entity="loc">Britain</mark>
's rulingLabor Partyin the southern English seaside resort of<mark data-entity="loc">Brighton</mark>
. The party is divided over<mark data-entity="loc">Britain</mark>
's participation in the<mark data-entity="loc">Iraq</mark>
conflict and the continued deployment of 8500 British troops in that country . The<mark data-entity="loc">London</mark>
march came ahead of anti-war protests today in other cities , including<mark data-entity="loc">Rome</mark>
,<mark data-entity="loc">Paris</mark>
, and<mark data-entity="loc">Madrid</mark>
. TheInternational Atomic Energy Agencyis to hold second day of talks in<mark data-entity="loc">Vienna</mark>
Wednesday on how to respond to<mark data-entity="loc">Iran</mark>
's resumption of low-level uranium conversion .<mark data-entity="loc">Iran</mark>
this week restarted parts of the conversion process at its<mark data-entity="loc">Isfahan</mark>
nuclear plant . Iranian officials say they expect to get access to sealed sensitive parts of the plant Wednesday , after anIAEAsurveillance system begins functioning . The step will allow the facility to operate at full capacity . TheEuropean Union, with<mark data-entity="loc">U.S.</mark>
backing , has threatened to refer<mark data-entity="loc">Iran</mark>
to theU.N. Security Council, which could impose sanctions if it finds<mark data-entity="loc">Tehran</mark>
has violated the Nuclear Non-Proliferation treaty .<mark data-entity="loc">Iran</mark>
's new PresidentMahmoud Ahmadinejadsaid Tuesday that European incentives aimed at persuading<mark data-entity="loc">Iran</mark>
to end its nuclear fuel program are an insult to the Iranian nation . Two Germans and four Nigerian oil workers were kidnapped by armed militants during a raid on a boat in<mark data-entity="loc">Nigeria</mark>
's southern oil-richDeltaregion . An official with the German firmBilfinger Berger,Thomas Horbach, said the gunmen stopped the supply boat Wednesday as it sailed fromDelta StatetoBayelsa Stateto inspect an offshore oil field owned byRoyal-Dutch Shell. The German firm works as a sub-contractor forShell. Militant groups frequently attack oil operations in the<mark data-entity="loc">Niger Delta</mark>
to demand social services and better job opportunities from multinational companies . Poor residents often complain they have been cheated out of the huge riches extracted from their tribal lands - where the bulk of<mark data-entity="loc">Nigeria</mark>
's 2.3 million barrels of petroleum are pumped daily . Suspected Islamist rebels have fired mortar shells at the palace used by<mark data-entity="loc">Somalia</mark>
's interim PresidentAbdullahi Yusuf Ahmad. It was not immediately clear if the president was in the palace in<mark data-entity="loc">Mogadishu</mark>
when the attack occurred or if anyone was hurt . Local news reports said at least five mortar shells hit the palace compound and other mortars were fired elsewhere in<mark data-entity="loc">Mogadishu</mark>
Wednesday . The attacks occurred after the government said it will go ahead with a reconciliation conference to which more than 1300 Somali elders , warlords and politicians are invited . Iraqi military officials say tanks and troops have arrived in the northern city<mark data-entity="loc">Mosul</mark>
for a new offensive against alQaidain<mark data-entity="loc">Iraq</mark>
fighters . Officials will not say how many troops have arrived in the Sunni Arab and Kurdish city , where bombings last week killed at least 34 people and wounded more than 200 .<mark data-entity="loc">U.S.</mark>
commanders have not explained how American forces will participate in the offensive . Officials say al Qaida in<mark data-entity="loc">Iraq</mark>
fighters have fled successful campaigns against them in<mark data-entity="loc">Anbar</mark>
province and<mark data-entity="loc">Baghdad</mark>
to other northern provinces .<mark data-entity="loc">Mosul</mark>
is the largest city north of<mark data-entity="loc">Baghdad</mark>
and has long been a stronghold of Sunni militant fighters . In other violence ,<mark data-entity="loc">U.S.</mark>
officials said one American soldier was killed while on patrol in<mark data-entity="loc">Baghdad</mark>
Sunday . Egyptian police have arrested at least 16 members of the oppositionMuslim Brotherhoodas parts of the country prepare for parliamentary runoff elections Saturday . The arrests occurred Friday in<mark data-entity="loc">Alexandria</mark>
. A spokesman for theBrotherhoodsaid the arrests are an attempt to cut the Brotherhood off from its supporters and punishment for winning parliamentary seats in earlier elections . TheMuslim Brotherhoodhas tripled its strength in parliament in recent elections , raising the party 's total to 47 seats . In Saturday 's elections , voters will cast ballots in nine provinces where no candidate won a majority in the previous round of voting . TheMuslim Brotherhoodis banned as a political party , but it endorses so-called independent candidates whose allegiance to the party is known to voters . Hardline lawmakers in<mark data-entity="loc">Pakistan</mark>
's<mark data-entity="loc">North West Frontier Province</mark>
have pushed through a law that aims to ensure `` Islamic correctness `` in public places and establishes a morality police to enforce decent behavior . A six-party coalition of religious based parties , theMutahida Majlis-e-Amal, dominates the provincial assembly , so the bill was easily passed Thursday by a vote of 68-34 . The provincial governor must still sign the bill before it becomes law , a step seen only as a formality . The proposed law calls for setting up a `` religious police force `` to make sure people adhere to Islamic values in public places , and entertainment outlets close during weekly Friday prayers . Violators could be jailed for up to six months . The opposition has denounced the measure , comparing it to the draconian rule of the former Taleban in neighboring<mark data-entity="loc">Afghanistan</mark>
. British police say they have arrested a man who dressed as suicide bomber at a demonstration against the publication of cartoons depictingIslam'sProphet Muhammad.<mark data-entity="loc">Bedfordshire</mark>
police said Tuesday thatOmar Khayamwas arrested in<mark data-entity="loc">Bedford</mark>
for breaching the conditions of his parole .</div>
</body>
</html>
