<!DOCTYPE html>
<html>
<head>
    <title>TxtLocViz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">
</head>

<body>
    <h1 align ="center">Text Location Visualization</h1>
    <form  method="POST">
        <h2 align ="left">Please select input option: </h2>
        <table align="center">
            <tr>
                <td align="left">
                    <label><input type="radio" name="selection" id=selection1 value="R_txt">Enter text manually</label>
                    <label><input type="radio" name="selection" id=selection2 value="R_file">Select local text file</label>
                    <label><input type="radio" name="selection" id=selection3 value="R_url" checked>Enter URL</label>
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="Submit" >
                </td>
            </tr>
        </table>
    </form>
</body>

</html>
