<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">
    <title>TxtLocViz</title>
</head>

<body>
    <h1 align ="center">Text Location Visualization</h1>
    <form method="POST">
        <h2>Select a text file from the dataset folder:</h2>
        <input name="myFile" type="file">
        <input type="submit" value="OK">
    </form>

    <div id="map"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!--
    ***********************************************************************************************
    Enter your API key in the next line after key= and before &callback= replace API_KEY_GOES_HERE
    ***********************************************************************************************
     -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap">
    </script>

    <script type ="text/javascript">

        $(document).ready(function(){
            show_markers();
        });
        var locations = [];
        var marker, i;
        var map;

        function getLocations() {
            $.get("output_cor1", function(data, status){
                locations_string = data + "";
                var lines = data.split("\n");
                for (i = 0; i < lines.length; i++) {
                    if (lines[i] != '') {
                        locations_array = lines[i].replace("\\r\\n", "").split(",");
                        locName="";
                        lat     = parseFloat(locations_array[0].trim());
                        longt   = parseFloat(locations_array[1].trim());
                        srno    = parseInt( i + 1);
                        var arr = [ locName, lat, longt, srno];
                        locations[i] = arr;
                    }
                }
            });
        }

        function initialize() {
            getLocations();
            setTimeout(function(){
                var latlng = new google.maps.LatLng(locations[0][1], locations[0][2]);
                var myOptions = {
                    zoom: 3,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map"), myOptions);
                var infowindow = new google.maps.InfoWindow();
                locations = [];
            }, 500);
        }

        function show_markers() {
            getLocations();
            setTimeout(function(){
                var latlng = new google.maps.LatLng(locations[0][1], locations[0][2]);
                var myOptions = {
                    zoom: 3,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("map"), myOptions);
                var infowindow = new google.maps.InfoWindow();
                var marker, i;
                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
                locations = [];
            }, 500);
        }

    </script>

</body>
</html>
